/* Os nossos estilos */


/* Tipografia
*/

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url('../fonts/leaguespartan-bold.ttf') format('truetype');
}

body {
    font-family: "Lato";
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Lato Light";
    color: #0A2A34 !important;
}

h1#logo,
#results p {
    font-family: "LeagueSpartan";
}

/* Layout
*/

body {
    color: #0A2A34 !important;
    background: #f5c24d/*#fde09f*/;
}

h1#logo {
  text-align: center;
  margin-top: -10px;
/*  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;*/
}

h1#logo img {
}

#game {
  text-align: center;
}

#results {
  text-align: right;
}

#lives {
  height: 19px;
  margin: 0;
  padding: 0;
}

#lives li {
  display: inline-block;
  width: 22px;
  height: 19px;
  overflow: hidden;
  margin: 0 2px;
}

#lives li {
  background: transparent url(../img/lives.png) no-repeat 0 0;
}

#lives li.lost {
  background: transparent url(../img/lives.png) no-repeat -101px 0;
}

#results p {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 0 0;
  margin: 0;
}

#names #option-1,
#names #option-2 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #f5c24d !important;
  cursor: pointer;
}

#names h2:focus {
  outline: 0;
}

#option-1 {
  background: #293742;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
}

#option-2 {
  background: #293742;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
}

#names .approved {
  display: inline-block;
  padding: 0 13px;
  background: transparent url(../img/approved.png) no-repeat center center;
}

#names .refused {
  display: inline-block;
  padding: 0 13px;
  background: transparent url(../img/refused.png) no-repeat center center;
}

#option-1:hover,
#option-1:focus,
#option-2:hover,
#option-2:focus {
  background: #0A2A34;
}

#names p.row {
  color: #0A2A34;
  background: #fff;
  line-height: 1;
  margin-bottom: 0;
  height: 1px;
  text-align: center;
}

#names p.row > em {
  font-size: 90%;
  font-style: normal;  
  padding: 0.65em;
  top: -.65em;
  z-index: 2500;
  background: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;/*
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);*/
}

#message {
  margin-top: 20px;
  font-size: 1.25em;
}

#message p {
  background: #0A2A34;
  color: #fff;
  padding: 10px;
}

#about {
  margin-top: 5em;
}

#footer {
    margin-top: 4em;
    font-size: 80%;
}

.progress {
    border: 1px solid #ccc;
}

