/* Os nossos estilos */


/* Tipografia
*/

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url('../fonts/leaguespartan-bold.ttf') format('truetype');
}

body {
    font-family: "Lato";
}


h1, h2, h3, h4, h5, h6,
strong {
    font-family: "Lato Light";
    color: #0A2A34 !important;
}

h1#logo,
.names h2 {
    font-family: "LeagueSpartan";
}

/* Layout
*/

body {
    color: #0A2A34 !important;
    background: #f5d48d/*#fde09f*/;
}

h1#logo {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#lives {
  margin: 0;
  height: 8px;
}

#lives li {
  display: inline-block;
  width: 22px;
  height: 19px;
  overflow: hidden;
}

#lives li {
  background: transparent url(../img/lives.png) no-repeat 0 0;
}

#lives li.lost {
  background: transparent url(../img/lives.png) no-repeat -101px 0;
}

.names #option-1,
.names #option-2 {
  padding: 1.5em 0.75em;
}

.names h2:focus {
  outline: 0;
}

#option-1 {
  text-align: center;
  background: #f5c24d;
  border-top: 1px solid #f5c24d;
  border-left: 1px solid #f5c24d;
  border-right: 1px solid #f5c24d;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
}

#option-2 {
  text-align: center;
  background: #f5c24d;
  border-bottom: 1px solid #f5c24d;
  border-left: 1px solid #f5c24d;
  border-right: 1px solid #f5c24d;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
}

#option-1:hover,
#option-1:focus,
#option-2:hover,
#option-2:focus {
  background: #edb431;
}

.names p.row {
  background: red;
/*  line-height: 1;
  margin-bottom: 0;
  height: 1px;*/
  text-align: center;
}

.names p.row > em {
  font-size: 90%;
  font-style: normal;  
  /*padding: 0.65em;
  top: -.65em;*/
  z-index: 2500;
  background: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;/*
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);*/
}

#about {
  margin-top: 5em;
}

#footer {
    margin-top: 4em;
    font-size: 80%;
}

.progress {
    border: 1px solid #ccc;
}

