<header class="row medium-uncollapse large-collapse">
    <h1 id="logo" class="small-12 small-centered columns"><img src="img/totonome.png" alt="logotipo totonome"></h1>
</header>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Perdeste!</h2>
    <p class="lead">Conseguiste {{pontuacao}} pontos!</p>
    <p><a target="_blank" href="{{scoreLink}}">Partilha a tua pontuação</a> ou <a ng-click="reload()">joga outra vez</a></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<section id="game">
  <div class="row medium-uncollapse large-collapse">
    <h3 class="large-8 large-offset-2 small-12 columns">Qual destes nomes foi aprovado?</h3>
    <div id="results" class="large-2 small-12 columns">
      <ul id="lives" class="row">
        <li ng-repeat="i in range(vidas) track by $index">&nbsp;</li>
        <li ng-repeat="i in range(vidasIniciais-vidas) track by $index" class="lost">&nbsp;</li>
      </ul>
      <p class="row">{{pontuacao}} pontos</p>
   </div>
  </div>
  <div id="names" class="row medium-uncollapse large-collapse">
    <h2 id="option-1" class="row medium-uncollapse large-collapse" ng-click="clicked(0)" stop-event 
      ng-class="ultimaRespostaCorrecta!=''?(ultimaRespostaCorrecta==sorteado1?'correct':''):(selectedWord==sorteado1?'selected':(blocked?'unselected':''))">
    <!--span class="approved">&nbsp;</span-->{{sorteado1}}</h2>
    <p class="row medium-uncollapse large-collapse"><em>Ou</em></p>
    <h2 id="option-2" class="row medium-uncollapse large-collapse" ng-click="clicked(1)" stop-event 
      ng-class="ultimaRespostaCorrecta!=''?(ultimaRespostaCorrecta==sorteado2?'correct':''):(selectedWord==sorteado2?'selected':(blocked?'unselected':''))">
    <!--span class="refused">&nbsp;</span-->{{sorteado2}}</h2>
  </div>
  <div id="message" class="row medium-uncollapse large-collapse">
    <p class="small-12 columns" ng-show="total >0"><strong ng-show="venceuUltimo">Acertaste!</strong><strong ng-show="!venceuUltimo">Falhaste!</strong> ({{ultimo1}} vs {{ultimo2}}) <a target="_blank" href="{{challengeLink}}">Desafia os teus amigos!</a></p>
  </div>
</section><!-- /#game -->

<section id="about" class="row medium-uncollapse large-collapse">
    <h3 class="small-12 columns">Sobre o TotoNome</h3>
    <p class="small-12 columns">Todos os anos, milhares de nomes próprios são avaliados pelo Instituto dos Registos e do Notariado. Só em 2014, houve mais de 5000 nomes enviados para consideração. É assim que se determina se cada novo cidadão ou cidadã pode ter um nome menos comum.</p>
    <p class="small-12 columns">Face a duas possibilidades, consegues descobrir qual o nome que poderás dar ao teu rebento?</p>
    <p class="small-12 columns">O dataset que usamos xxxx link!</p>
</section><!-- /#about -->

<footer id="footer" class="row medium-uncollapse large-collapse">
  <p class="small-12 columns">
    <b>Mudar aqui o texto. já está desactualizado =)</b>
    Fritura rápida durante o <a href="http://transparenciahackday.org">Transparência Hackday</a> com Marlene, <a href="http://tiagovieira.pt">Tiago</a>, <a href="https://twitter.com/rlaf">Ricardo</a>, Isa, <a href="https://twitter.com/mxmmargarida">Margarida</a> e <a href="http://twitter.com/aiscarvalho">Ana</a>.<br>
    Com o apoio da <a href="http://centraldedados.pt">Central de Dados</a>.
  </p>
</footer>
